body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-spacer {
  margin: 1rem;
}

.navbar-brand {
  font-size: 30px !important; /* 设置标题字体大小为 24 像素 */
}

.content-container {
  position: relative; /* Add this line */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.image-and-text-container {
  position: absolute; /* Change to absolute positioning */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* Center vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to center vertically inside the container */
  text-align: center;
  z-index: -1;
}

.response-container {
  font-size: 28px;
  /* Removed absolute positioning */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  text-align: left;
  padding: 0 200px; /* Add padding on the left and right sides */
  margin-bottom: 2px; /* Add some space between each conversation */
  z-index: 1; /* Adjust z-index if necessary, but it may not be required */
  max-width: 2000px;
  word-break: break-word;
}

.conversations-container {
  max-height: 80vh; /* Adjust as needed */
  overflow-y: auto;
  position: relative; /* If you need a positioned ancestor for other reasons */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.circle-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.image-and-text-container p {
  font-size: 35px;
}

.input-form {
  position: fixed; 
  bottom: 50px; 
  left: 50%; 
  transform: translateX(-50%); 
  width:  95%; 
  max-width: 1000px;
  font-size: 28px !important; /* Or any size you prefer */
}

.input-group-custom .form-control {
  font-size: 28px !important;
  height: auto; 
}

.image-preview {
  margin-top: 1000px;  /* Adjust this value based on your layout needs */
  display: block;    /* Makes the image block level to respect margin-top */
  max-width: 100%;   /* Limits the image width */
  max-height: 300px; /* Limits the image height */
}


.upload-icon {
  height: 60px; 
  width: auto; 
  margin-right: 3px;
  opacity: 0.6;
}


.btn-custom {
  border-radius: 50%; 
  /* 移除margin-left: -46px; 使用padding调整内部SVG图标大小 */
  padding: 8px; 
}

.btn-custom svg {
  width: 29px;
  height: 29px; 
}

.recipe-container{
  margin-top: 250px;
}

.background-component {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.busters-container {
  position: relative;
  margin-top: 100px; 
  
}

.keywords-container {
  font-size: 18px;
  display: flex; 
  flex-direction: column; 
  gap: 20px;
  padding: 20px;
  margin-top: 30px; 
}

.keywords-box {
  width: calc(90vw - 40px);
  max-width: 1200px;
  margin: 15px; 
  height: 20vh; 
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
  box-sizing: border-box; 
}

.keywords-box-large {
  height: 500px;
}


.drawer-icon {
  width: 30px;
  height: auto; 
}

.recipe-container {
  margin-top: 100px;
}

.recipe-container .card {
  margin: 20px; 
}

.modal-body {
  font-size: 1.2em; 
}

.modal-body h5 {
  font-size: 1.2em;
}

.custom-modal-dialog {
  max-width: 1000px;
  width: 80%; 
}


.references-container {
  text-align: left;
}

.references-container ul {
  margin-top: 0.5em; /* 上边距减少 */
  margin-bottom: 0.5em; /* 下边距减少 */
}

.references-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.selectedArticleTitle {
  background-color: #f0f0f0; /* 浅灰色背景 */
  padding: 5px; /* 添加一些内边距 */
  border-radius: 5px; /* 轻微圆角 */
}



